target
.idea/workspace.xml
.idea/libraries
.idea/excludeFromValidation
.idea/template/template_variable_settings.xml
*.iml
db
local-data
.flattened-pom.xml
# Maven:
.effective-pom.xml
.dependency-tree.txt
.foreach-deps.txt

# Emacs:
*~
