target
.idea/workspace.xml
.idea/libraries
.idea/excludeFromValidation
.idea/template/template_variable_settings.xml
*.iml

file-manager-module/src/main/frontend/node
file-manager-module/src/main/resources/views/static/FileManagerModule/js
file-manager-module/src/main/resources/views/static/FileManagerModule/css

local-data/
db

# macOS:
.DS_Store

.flattened-pom.xml
# Maven:
.effective-pom.xml
.dependency-tree.txt
.foreach-deps.txt

# Emacs:
*~
