<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:config/spring-config-data.xml"/>

    <context:annotation-config/>

    <context:component-scan base-package="com.foreach.imageserver.services"/>

    <bean id="variantImageLogger" class="com.foreach.imageserver.services.VariantImageLoggerImpl">
        <constructor-arg type="int"><value>${variantLog.size}</value></constructor-arg>
    </bean>

    <bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
        <property name="delay" value="${variantLog.delay}"/>
        <property name="period" value="${variantLog.period}"/>
        <property name="timerTask" ref="updateLog"/>
    </bean>

    <bean id="updateLog" class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
        <property name="targetObject" ref="variantImageLogger"/>
        <property name="targetMethod" value="flushLog"/>
    </bean>

    <bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
        <property name="scheduledTimerTasks">
            <list>
                <ref bean="scheduledTask"/>
            </list>
        </property>
    </bean>

	<bean class="com.foreach.imageserver.services.paths.ImagePathBuilderImpl">
	    <property name="rootpath" value="${store.images.rootpath}"/>
	</bean>

	<bean id="tempFileService" class="com.foreach.imageserver.services.utils.TempFileServiceImpl">
		<property name="tempDir" value="${tempDir.path}" />
	</bean>

</beans>