<configuration>
	<appender name="PAGES" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dir}/main.log</File>
		<encoder>
			<pattern>%date D%m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>${log.dir}/boe/pages.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10240KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="com.foreach" level="DEBUG">
		<appender-ref ref="PAGES"/>
	</logger>
	<root level="DEBUG"/>
</configuration>