<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.xsd">


    <security:http auto-config='true' access-denied-page="/noaccess">
        <security:intercept-url pattern="/api/**" filters="none"/>
	    <security:intercept-url pattern="/repository/**" filters="none"/>
	    <security:intercept-url pattern="/login*" filters="none"/>
        <security:intercept-url pattern="/resources/**" filters="none"/>
	    <security:intercept-url pattern="j_spring_security_login*" filters="none"/>
	    <security:intercept-url pattern="j_spring_security_logout*" filters="none"/>
	    <security:intercept-url pattern="j_spring_security_check*" filters="none"/>

        <security:intercept-url pattern="/**" access="ROLE_ADMIN" />

	    <!-- Override default login and logout pages -->
	    <security:form-login login-page="/login"
	                    login-processing-url="/j_spring_security_check"
	                    authentication-failure-url="/login?login_error=1"
	                    default-target-url="/" />
	    <security:logout logout-url="/j_spring_security_logout" logout-success-url="/login" />
	    <security:remember-me key="imageserver-admin"/>
    </security:http>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider user-service-ref="authenticationUserService" />
    </security:authentication-manager>

    <bean id="authenticationUserService" class="com.foreach.imageserver.services.authentication.AuthenticationUserService"/>

</beans>