<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:/config/${environment.type}/common.properties</value>
				<value>file:${user.home}/dev-configs/imageserver.local.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true"/>
		<property name="ignoreResourceNotFound" value="true"/>
	</bean>

	<bean class="com.foreach.imageserver.web.context.WebPathConfiguration">
		<property name="siteRoot" value=""/>
		<property name="resources" value=""/>
	</bean>

	<import resource="classpath:config/spring-config-services.xml"/>

	<context:component-scan base-package="com.foreach.imageserver"/>

	<bean id="myConversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.foreach.web.converter.EnumConverterFactory"/>
				<bean class="com.foreach.web.converter.EnumIdRenderer"/>
				<bean class="com.foreach.web.converter.EnumCodeRenderer"/>
			</set>
		</property>
	</bean>

	<mvc:annotation-driven/>
</beans>