body { background-color: #F8F8F8; }
.container { clear: both; margin-top: 200px; }
form { border: #000000 solid 1px; margin: 20px; padding: 15px; width: 600px; }
.formTitle { background-color: #F8F8F8; position: relative; top: -25px; margin: 0 10px; padding: 0 10px; }
table { width: 100%; }