<component name="ArtifactManager">
  <artifact type="war" name="spring-batch-test-web:war">
    <output-path>$PROJECT_DIR$/spring-batch-test-web/target</output-path>
    <root id="archive" name="spring-batch-test-web-1.0.4-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-batch-test-web:war exploded" />
    </root>
  </artifact>
</component>